html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel='shortcut icon' type='image/png' href='/Images/sun.png')
        link(href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")        
        script(src="/anim.js")

        title Happy Birthday!

        style.
            body{
                font-family: 'VT323', monospace;
                background-color:black;                
                background-image: url("Images/confetti2.gif");
                //- background-size:2000px
            }
            canvas{
                display: block;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                //- border: 5px dashed red
            }
    body
        div
            canvas#cvs